GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://user:pass@localhost:5432/auction_platform"
GOOSE_MIGRATION_DIR=./migrations

PORT=8080
JWT_SECRET="jwt_secret"
RESEND_API_KEY=""
RESEND_EMAIL_FROM=""
REDIS_URL="redis://redis:6379"